<link rel="stylesheet" type="text/css" href="styles.css">

<style>
    .image-container img {
        max-width: 300px;
        margin-right: 20px;
    }
    
        font-size: 16px;

    @media screen and (max-width: 768px) {
        .image-container {
            flex-direction: column;
            text-align: center;
        }
    
        .image-container img {
            max-width: 100%;
            margin-right: 0;
        }

        #medio p {
            font-size: 14px;
        }
    }
</style>

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0088ff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}
#medio {
    background-color: #8d8d8d;
    color: #000000;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #a09d9d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #000000;
    color: #a8a8a8;
    text-align: center;
    padding: 10px;
}

a {
    color: #3156a3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#servicios {
    background-color: #8d8d8d;
    color: #000000;
}

#contacto {
    background-color: #827f7f;
    color: #000000;
}

#horario {
    background-color: #827f7f;
    color: #000000;
}
#nosotros {
    background-color: #827f7f;
    color: #000000;
}
.image-container img {
    max-width: 300px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .image-container {
        flex-direction: column;
        text-align: center;
    }

    .image-container img {
        max-width: 100%;
        margin-right: 0;
    }

    #medio p {
        font-size: 14px;
    }
}

body {
    background-image: url('imagen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

